@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;

    scrollbar-color: #B9A0EC #111;
    scrollbar-width: thin;
}

:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-background: #C8D6E5;

    --text-primary: #666666;
    --text-secondary: #000000;
    --text-3: #656565;
    --text-4: #454545;

    --status-paid: #ce7d03;
    --status-pending: #da0037;
    --status-approved: #19b200;

    --data-box1: #00da7112;
    --data-box2: #da340012;
    --data-box3: #bbda0012;
    --data-box4: #4600da12;
}


body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #111;
}

html::-webkit-scrollbar-thumb {
    background-color: #B9A0EC;
    border-radius: 50px;
}

.index-container{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column  ;
  background-color: var(--color-background);
}

.index-header{
  min-width: 100%;
  min-height: 50px;
  padding: 30px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index-logo-black{
  max-width: 200px;
  transition: 0.2s ease-in-out;
}

.index-logo-black:hover{
  filter: invert(47%) sepia(40%) saturate(2091%) hue-rotate(355deg) brightness(96%) contrast(113%);
}

.index-nav-bar{
  min-width: 40%;
  display: flex;
}

.hamberger-open, .hamberger-close{
  display: none;
  background: none;
  border: none;
}

.index-nav-links{
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  font-size: 5rem;
}

.index-nav{
  text-decoration: none;
  color: #8395A7;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.index-nav:hover{
  color: #FF6A00;
}

.hero-sec{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 0 50px;
}

.index-hero-caption{
  font-size: 10rem;
  display: flex;
  flex-direction: column;
  line-height: -2;
  font-weight: 800;
}

.index-hero-caption-sec1,.index-hero-caption-sec2{
  background: radial-gradient(126.53% 15108.51% at 0% 100%, #EE0979 0%, #FF6A00 61.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 7.5rem;
}

.index-hero-caption-sec2{
  align-self: flex-end;
}

.index-hero-caption-mark1, .index-hero-caption-mark2{
  line-height: 0.6;
  font-size: 12rem;
}

.index-img-1{
  max-width: 400px;
}

.index-hero-caption-mark2{
  align-self: flex-end;
}

#catalog{
  display: flex;
  max-width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.index-img-2{
  max-width: 400px;
}

.index-catalog-container{
  display: flex;
}

.index-catalog-div1{
  display: flex;
  flex-direction: column;
}

.index-catalog-div2{
  display: flex;
  flex-direction: column;
}

.index-catalog-1{
  min-width: 350px;
  min-height: 200px;
  background: radial-gradient(136.9% 136.9% at 50% -24.63%, rgba(238, 9, 121, 0.97) 0%, rgba(255, 106, 0, 0.52) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  transition: 0.2s ease-in-out;
}

.index-catalog-1 h3{
  font-size: 6rem;
  font-weight: 600;
}

.index-catalog-1 p{
  font-size: 3rem;
}

.index-catalog-2{
  min-width: 350px;
  min-height: 200px;
  background: linear-gradient(100.96deg, #A770EF -6.26%, rgba(253, 185, 155, 0) 117.3%);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  transition: 0.2s ease-in-out;
}

.index-catalog-2 h3{
  font-size: 6rem;
  font-weight: 600;
  color: var(--color-secondary);
}

.index-catalog-2 p{
  font-size: 3rem;
  color: var(--color-secondary);
}

.index-catalog-1:hover, .index-catalog-2:hover{
  scale: 105%;
  cursor: pointer;
}

.section-heading-catalog{
  /* transform: rotate(-90deg); */
  /* transform-origin: 0 0; */
  /* overflow: hidden; */
  /* transform-box: fill-box; */
  font-size: 15rem;
  font-weight: 900;
  color: #B3C3D2;
  justify-self: flex-end;
  writing-mode: vertical-rl;
  margin-right: -40px;
}

#about-us{
  min-width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-heading-aboutus{
  font-size: 15rem;
  font-weight: 900;
  color: #B3C3D2;
  writing-mode: vertical-rl;
  margin-left: -50px;
}

.catalog-about-us-content{
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--color-secondary);
  background: radial-gradient(136.9% 136.9% at 50% -24.63%, rgba(238, 9, 121, 0.97) 0%, rgba(255, 106, 0, 0.52) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  border-radius: 20px;
  line-height: 90%;
  padding: 50px;
  min-width: 60%;
}

.about-us-para2{
  margin-top: 50px;
}

.index-img-3{
  max-width: 320px;
}

.about-us-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-us{
  display: flex;
  min-width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.index-contact-us-container{
  display: flex;
}

.index-img-3{
  max-width: 280px;
}

.contact-us-form-header{
  font-size: 5rem;
}

.section-heading-contactus{
  font-size: 10rem;
  font-weight: 900;
  color: #B3C3D2;
  justify-self: flex-end;
  writing-mode: vertical-rl;
  margin-right: -20px;
}