/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 300px) {
    *{
        font-size: 30%;
        overflow-x: hidden;
    }

    .index-header{
        padding: 30px 0 30px 50px;
        align-items: flex-start;
    }

    .index-logo-black{
        max-width: 150px;
    }

    .index-nav-bar{
        flex-direction: column;
        background: linear-gradient(180deg, rgba(238, 9, 121, 0.52) 0%, rgba(255, 106, 0, 0.603699) 100%);
        box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 7px;
        padding: 10px 30px 50px 50px;
        position: sticky;
        top: 20px;
        right: 0;
        min-width: 70%;
        z-index: 100;
    }

    .hamberger-open, .hamberger-close{
        display: block;
        align-self: flex-end;
    }

    .index-nav-links{
        flex-direction: column;
        padding: 30px 0 20px 0;
    }

    .index-nav-links li{
        margin-top: 30px;
    }

    .index-nav{
        font-size: 2.3rem;
        color: #fff;
    }

    .index-nav:hover{
        color: #000;
    }

    .hero-sec{
        flex-direction: column;
    }

    .index-hero-caption{
        font-size: 8rem;
    }

    .index-hero-caption-sec1,.index-hero-caption-sec2{
        font-size: 6.5rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    *{
        font-size: 55%;
        overflow-x: hidden;
    }

    .index-header{
        padding: 30px 0 30px 50px;
        align-items: flex-start;
    }

    .index-logo-black{
        max-width: 150px;
    }

    .index-nav-bar{
        flex-direction: column;
        background: linear-gradient(180deg, rgba(238, 9, 121, 0.52) 0%, rgba(255, 106, 0, 0.603699) 100%);
        box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 7px;
        padding: 10px 30px 50px 50px;
        position: fixed;
        top: 20px;
        right: 0;
        min-width: 70%;
        min-height: 300px;
        z-index: 100;
    }

    .hamberger-open, .hamberger-close{
        display: block;
        align-self: flex-end;
    }

    .index-nav-links{
        flex-direction: column;
        padding: 30px 0 20px 0;
    }

    .index-nav-links li{
        margin-top: 30px;
    }

    .index-nav{
        color: #fff;
        font-size: 2.3rem;
    }

    .index-nav:hover{
        color: #000;
    }

    .hero-sec{
        flex-direction: column;
    }

    .index-hero-caption{
        font-size: 8rem;
    }

    .index-hero-caption-sec1,.index-hero-caption-sec2{
        font-size: 6.5rem;
    }

    .index-catalog-container{
        flex-direction: column;
    }

    .index-catalog-1 h3, .index-catalog-2 h3{
        font-size: 3rem;
    }

    .index-catalog-1 p, .index-catalog-2 p{
        font-size: 1.5rem;
    }

    .index-img-2{
        max-width: 250px;
        margin-left: -50px;
    }

    .index-catalog-1, .index-catalog-2{
        min-width: 150px;
        min-height: 100px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin: 10px 5px;
    }

    .section-heading-catalog{
        font-size: 10rem;
    }

    #catalog{
        height: auto;
        margin-top: 50px;
    }

    #about-us{
        flex-direction: column;
        height: auto;
        margin-top: 50px;
    }

    .catalog-about-us-content{
        font-size: 2rem;
        width: 80%;
        padding: 20px;
    }

    .section-heading-aboutus{
        font-size: 8rem;
    }

    .about-us-para2{
        margin-top: 20px;
    }

    .index-img-3{
        max-width: 220px;
    }

    #contact-us{
        height: auto;
        margin-top: 50px;
    }

    .index-img-4{
        max-width: 150px;
    }

    .contact-us-form-input-div1, .contact-us-form-input-div2{
        flex-direction: column;
    }

    .contact-us-form-header{
        font-size: 3rem;
    }

    .index-contact-us-container{
        flex-direction: column;
    }

    .contact-us-form-input-div1 input, .contact-us-form-input-div2 input{
        min-height: 10px;
        min-width: 50px;
        font-size: 1.4rem;
    }

    .section-heading-contactus{
        font-size:8rem;
        min-width: fit-content;
        margin-left: 5px;
    }

    .index-contactus-address-container{
        padding: 20px;
        box-shadow: none;
        margin-left: 0;
    }

    .index-contact-us-div1 dt{
        font-size: 1.5rem;
    }

    .index-contact-us-div1 dd a{
        font-size: 1.8rem;
    }

    .index-contact-us-div1 dd{
        font-size: 1.8rem;
    }

    .index-footer-container{
        flex-direction: column;
    }

    .index-footer-copyright-div{
        max-width: 90%;
        margin: 30px 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}