/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    *{
        font-size: 50%;
    }

    .index-header{
        padding: 30px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .index-logo-black{
        max-width: 150px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    *{
        font-size: 50%;
    }

    .index-header{
        padding: 30px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .index-logo-black{
        max-width: 150px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}